/* style.css */

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed');

body {
    background-color: yellow;
}

h1 {
	color: black;
	font-family: 'Owald', sans-serif;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

p {
	color: black;
	font-family: 'Roboto+Condensed', sans-serif;
	font-size: 15px;
	font-weight: normal;
	text-align: center;
}