/* style.css */

body {
    background-color: yellow;
}

h1 {
	color: black;
	font-family: Arial, sans-serif;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

p {
	color: black;
	font-family: Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	text-align: center;
}